@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100&display=swap");
:root {
  --pinkColor: #D141F6;
  --blueColor: #3790FB;
  --white: #FFFFFF;
  --fwhite: #FFF;
  --black-btn: #1D2431;
}

.image-container {
  background: linear-gradient(to right, var(--blueColor), var(--pinkColor));
  width: auto !important;
  height: 180px !important;
}
.image-container img {
  width: unset !important;
  height: 27vh !important;
  -o-object-fit: cover;
     object-fit: cover;
}
.image-container .second-img {
  height: 92px !important;
  position: relative;
  right: 164px;
  top: 31px;
}
.image-container .text-container {
  padding-top: 32px;
}
.image-container .text-container .sm-title {
  color: var(--fwhite) !important;
  text-align: center !important;
  font-family: Roboto !important;
  font-size: 7.173px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: normal !important;
  letter-spacing: 4.375px !important;
}
.image-container .text-container .over {
  color: var(--fwhite) !important;
  text-align: center !important;
  font-family: Bebas Neue !important;
  font-size: 38.038px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 83% !important;
  letter-spacing: unset !important;
}
.image-container .text-container .whatsapp {
  color: transparent !important;
  text-align: center !important;
  font-family: Bebas Neue !important;
  font-size: 40.038px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 83% !important;
  letter-spacing: unset !important;
  padding-left: 4px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}
.image-container .text-container .btn-section {
  display: flex;
  justify-content: center;
  padding-top: 13%;
}
.image-container .text-container .btn-section .get-btn {
  width: 142px !important;
  height: 6vh !important;
  color: var(--fwhite) !important;
  text-align: center !important;
  font-family: Roboto !important;
  font-size: 11.955px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: normal !important;
  letter-spacing: unset !important;
  border-radius: 10.782px !important;
  background: linear-gradient(47deg, #3790FB 0%, #D141F6 100%);
  box-shadow: 4.7819547653px 3.586466074px 9.5639095306px 0px rgba(0, 0, 0, 0.41);
}

.signup-container {
  width: 100% !important;
  height: 47px !important;
  background: #1D2532;
  -webkit-backdrop-filter: blur(2.5999996662px);
          backdrop-filter: blur(2.5999996662px);
  display: flex;
  justify-content: end;
}
.signup-container .g-container {
  width: 61%;
  align-items: center;
}
.signup-container .signup-text {
  width: 88%;
  padding-top: 20px;
  color: rgb(255, 255, 255) !important;
  text-align: left !important;
  font-family: Gotham !important;
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: normal !important;
  letter-spacing: unset !important;
}

.blue-btn {
  color: var(--fwhite) !important;
  text-align: center !important;
  font-family: Roboto !important;
  font-size: 10px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: 20px !important;
  letter-spacing: unset !important;
  border-radius: 4px !important;
  width: 120px !important;
  border: 1px solid rgba(255, 255, 255, 0.07) !important;
  background: var(--blueColor) !important;
  box-shadow: 4px 3px 8px 0px rgba(0, 0, 0, 0.41) !important;
}

.black-btn {
  color: var(--fwhite) !important;
  text-align: center !important;
  font-family: Roboto !important;
  font-size: 10px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: 20px !important;
  letter-spacing: unset !important;
  border-radius: 4px !important;
  width: 120px !important;
  border: 1px solid rgba(255, 255, 255, 0.07) !important;
  background: var(--black-btn) !important;
  box-shadow: 4px 3px 8px 0px rgba(0, 0, 0, 0.41) !important;
}

.signup-count {
  height: 100vh;
  background: url("../images/bg.png") !important;
  background-color: #121B24 !important;
}

.box-container {
  margin: auto;
  margin-top: 16px;
  border-radius: 8px !important;
  border: 1px solid rgba(255, 255, 255, 0.07) !important;
  background: rgba(70, 73, 101, 0.21) !important;
  -webkit-backdrop-filter: blur(2.5999996662px) !important;
          backdrop-filter: blur(2.5999996662px) !important;
  height: 279px !important;
  width: 351px !important;
  padding-top: 14%;
}
.box-container .box-text {
  color: var(--fwhite) !important;
  text-align: center !important;
  font-family: Gotham !important;
  font-size: 26px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: normal !important;
  letter-spacing: unset !important;
  width: 87%;
  padding-left: 48px;
}
.box-container .whatapps-icon {
  display: flex;
  margin-left: 20px;
}
.box-container .whatapps-icon .whatsapp-text {
  border-radius: 6.876px;
  background: linear-gradient(0deg, #25CF43 0%, #61FD7D 100%);
  color: #1A1A1A !important;
  text-align: center !important;
  font-family: Gotham !important;
  font-size: 20.572px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: normal !important;
  letter-spacing: unset !important;
  width: 266px;
  padding: 13px;
  height: 46px;
  margin-left: -19px;
  margin-top: 8px;
  z-index: -9999;
}

.form-control {
  border-radius: 4px !important;
  border: 1px solid rgba(255, 255, 255, 0.07) !important;
  background: rgba(70, 73, 101, 0.21) !important;
  -webkit-backdrop-filter: blur(2.5999999046px) !important;
          backdrop-filter: blur(2.5999999046px) !important;
  height: 33px !important;
  width: 332px !important;
  color: var(--white) !important;
}

::-moz-placeholder {
  color: var(--white) !important;
}

::placeholder {
  color: var(--white) !important;
}

.input-select {
  background: #2d3145 !important;
  border-radius: 4px;
  color: var(--white);
}

.privay-policy .check-box {
  margin-left: 13px;
}
.privay-policy p {
  color: var(--fwhite) !important;
  text-align: unset !important;
  font-family: Roboto !important;
  font-size: 10px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: normal !important;
  letter-spacing: unset !important;
  padding: 1px 25px;
  margin-top: 15px;
}
.privay-policy a {
  color: var(--blueColor) !important;
  text-align: unset !important;
  font-family: Roboto !important;
  font-size: 10px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: normal !important;
  letter-spacing: unset !important;
}

.height-singup {
  height: 354px !important;
}

.text-already {
  color: var(--fwhite) !important;
  text-align: center !important;
  font-family: Roboto !important;
  font-size: 10px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: normal !important;
  letter-spacing: unset !important;
}
.text-already a {
  color: var(--pinkColor) !important;
  text-align: unset !important;
  font-family: Roboto !important;
  font-size: 10px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: normal !important;
  letter-spacing: unset !important;
}

.my-header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.07);
  background: rgba(26, 28, 40, 0.9);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  width: 375px;
  height: 52px;
}
.my-header .profile-img {
  width: 30px;
  height: 30px;
  background: url(../images/profile.png), lightgray 0% 0%/1.4999999665px 1.4999999665px repeat;
  mix-blend-mode: #FECB88;
}

body {
  background-image: url("../images/Banners/background.svg");
  background-color: #121B24;
  height: 100vh;
}/*# sourceMappingURL=styles.css.map */